body {
    overflow-x: hidden;
}

/*Assignment*/

.title {
    position: relative;
    width: 20%;
    height: 8%;
    border-radius: 15px;
    top: 8%;
    left: 5%;
    background: rgb(51, 50, 50);
}

.title h1 {
    position: relative;
    width: max-content;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 20%;
    font-weight: 1000;
}


/*#assignment {*/
/*    width: 1000vw;*/
/*    height: 100vh;*/
/*    background-image: url(/assests/image/background1.png);*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    overflow: hidden;*/

/*}*/
/*#assignmentMain {*/

/*    position: relative;*/
/*    margin: auto;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 5%;*/
/*    bottom: 0;*/
/*    width: 90%;*/
/*    height:90%;*/
/*    border-radius: 20px;*/
/*    overflow: hidden;*/
/*    box-shadow: 0 0 10px rgba(243, 240, 240, 0.2);*/
/*    background-image: url(/assests/image/background2.png);*/
/*    background-size: cover;*/
/*    background-position: center;*/

/*}*/


/*#assignmentsList {*/
/*    position: relative;*/
/*    width: 80%;*/
/*    height: 70%;*/
/*    top: 10%;*/
/*    left: 10%;*/

/*    display: flex;*/
/*    justify-content: space-between;*/

/*}*/

/*.assignments {*/
/*    width: 40%;*/
/*    height: 40%;*/
/*    margin: 5%;*/

/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/

/* gallery section css start  */

@media only screen and (max-width: 768px) {
    .title {
        width: 35%;
        height: 10%;
        top: 5%;
        left: 5%;
    }

    .title h1 {
        font-size: 24px;
        top: 30%;
    }
    /*#assignmentsList{*/
    /*    height: 20px;*/
    /*}*/


    /*titleP{*/
    /*    width: 35%;*/
    /*    height: 10%;*/
    /*    top: 5%;*/
    /*    left: 5%;*/
    /*}*/
    /*.titleP h1 {*/
    /*    font-size: 24px;*/
    /*    top: 15%;*/
    /*}*/

}
#assignment {
    width: 100vw;
    height: 5000vh;
    background-image: url(/assests/image/background1.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;

}


#assignmentMain {

    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    width: 90vw;
    height: 200vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(243, 240, 240, 0.2);
    background-image: url(/assests/image/background2.png);
    background-size: cover;
    background-position: center;

}

#assignmentList {
    position: relative;
    width: 80%;
    height: 60%;
    top: 12%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.assignments{
    width: 250px;
    height: 15%;
    box-sizing: border-box;
    padding: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: transform 0.3s ease;
    margin-bottom: 70px;

}
.assignments:hover {
    transform: scale(1.1);
}
#assignment1 {
    position: absolute;
    /*width: calc((100% - 100px) / 3);*/
    /*margin-bottom: 70px;*/
    bottom: 60%;
    left: 3%;
    /*bottom: 600px;*/
}
#assignment1:hover {
    transform: scale(1.1);
}
#assignment2{
    position: absolute;
    left: 25%;
    bottom: 60%;
}
#assignment3{
    position: absolute;
    left: 47%;
    bottom: 60%;
}
#assignment4{
    position: absolute;
    left: 69%;
    bottom: 60%;
}
#assignment5{
    position: absolute;
    left: 3%;
    bottom: 43%;
}
#assignment6{
    position: absolute;
    left: 25%;
    bottom: 43%;
}
#assignment7{
    position: absolute;
    left: 47%;
    bottom: 43%;
}
#assignment8{
    position: absolute;
    left: 69%;
    bottom: 43%;
}
#assignment9{
    position: absolute;
    left: 3%;
    bottom: 26%;
}
#assignment10{
    position: absolute;
    left: 25%;
    bottom: 26%;
}
#assignment11{
    position: absolute;
    left: 47%;
    bottom: 26%;
}
#assignment12{
    position: absolute;
    left: 69%;
    bottom: 26%;
}
#assignment13{
    position: absolute;
    left: 3%;
    bottom: 9%;
}
#assignment14{
    position: absolute;
    left: 25%;
    bottom: 9%;
}
#assignment15{
    position: absolute;
    left: 47%;
    bottom: 9%;
}
#assignment16{
    position: absolute;
    left: 69%;
    bottom: 9%;
}
#assignment17{
    position: absolute;
    left: 3%;
    bottom: -8%;
}
@media only screen and (max-width: 1440px) {
    .title {
        width: 15%;
        height: 10%;
        top: 2%;
        left: 5%;
    }

    .title h1 {
        font-size: 24px;
        top: 30%;
    }
    .assignments{
        width: 180px;
        height: 12%;
        box-sizing: border-box;
        padding: 50px;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: transform 0.3s ease;
        margin-bottom: 100px;
    }
    .assignments:hover {
        transform: scale(1.1);
    }

}
@media only screen and (max-width: 1024px) {
    .assignments{
        width: 180px;
        height: 12%;
        box-sizing: border-box;
        padding: 50px;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: transform 0.3s ease;
        margin-bottom: 70px;
    }
    .assignments:hover {
        transform: scale(1.1);
    }
    #assignment1 {
        position: absolute;
        bottom: 62%;
        left: 3%;
    }
    #assignment2{
        position: absolute;
        left: 25%;
        bottom: 62%;
    }
    #assignment3{
        position: absolute;
        left: 47%;
        bottom: 62%;
    }
    #assignment4{
        position: absolute;
        left: 69%;
        bottom: 62%;
    }
    #assignment5{
        position: absolute;
        left: 3%;
        bottom: 45%;
    }
    #assignment6{
        position: absolute;
        left: 25%;
        bottom: 45%;
    }
    #assignment7{
        position: absolute;
        left: 47%;
        bottom: 45%;
    }
    #assignment8{
        position: absolute;
        left: 69%;
        bottom: 45%;
    }
    #assignment9{
        position: absolute;
        left: 3%;
        bottom: 28%;
    }
    #assignment10{
        position: absolute;
        left: 25%;
        bottom: 28%;
    }
    #assignment11{
        position: absolute;
        left: 47%;
        bottom: 28%;
    }
    #assignment12{
        position: absolute;
        left: 69%;
        bottom: 28%;
    }
    #assignment13{
        position: absolute;
        left: 3%;
        bottom: 11%;
    }
    #assignment14{
        position: absolute;
        left: 25%;
        bottom: 11%;
    }
    #assignment15{
        position: absolute;
        left: 47%;
        bottom: 11%;
    }
    #assignment16{
        position: absolute;
        left: 69%;
        bottom: 11%;
    }
    #assignment17{
        position: absolute;
        left: 3%;
        bottom: -6%;
    }



}
@media only screen and (max-width: 768px) {
    .title {
        width: 50%;
        height: 10%;
        top: 2%;
        left: 5%;
    }

    .title h1 {
        font-size: 24px;
        top: 30%;
    }
    .assignments{
        width: 150px;
        height: 11%;
        box-sizing: border-box;
        padding: 50px;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: transform 0.3s ease;
        margin-bottom: 80px;
    }
    #assignment2 {
        position: absolute;
        left: 27%;
    }
    #assignment3 {
        position: absolute;
        left: 51%;
    }
    #assignment4 {
        position: absolute;
        left: 75%;
    }
    #assignment6 {
        position: absolute;
        left: 27%;
    }
    #assignment7 {
        position: absolute;
        left: 51%;
    }
    #assignment8 {
        position: absolute;
        left: 75%;
    }
    #assignment10 {
        position: absolute;
        left: 27%;
    }
    #assignment11 {
        position: absolute;
        left: 51%;
    }
    #assignment12 {
        position: absolute;
        left: 75%;
    }
    #assignment14 {
        position: absolute;
        left: 27%;
    }
    #assignment15 {
        position: absolute;
        left: 51%;
    }
    #assignment16 {
        position: absolute;
        left: 75%;
    }
}
@media only screen and (max-width: 425px) {
    .assignments{
        width: 50px;
        height: 11%;
        box-sizing: border-box;
        padding: 40px;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: transform 0.3s ease;
        margin-bottom: 60px;
    }
}
@media only screen and (max-width: 375px) {
    .title {
        width: 50%;
        height: 10%;
        top: 2%;
        left: 5%;
    }

    .title h1 {
        font-size: 24px;
        top: 30%;
    }
    .assignments{
        width: 5px;
        height: 13%;
        box-sizing: border-box;
        padding: 35px;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: transform 0.3s ease;
        margin-bottom: 80px;
    }
}
@media only screen and (max-width: 320px) {
    .title {
        width: 50%;
        height: 10%;
        top: 5%;
        left: 5%;
    }

    .title h1 {
        font-size: 24px;
        top: 30%;
    }
    .assignments{
        width: 65px;
        height: 12%;
        box-sizing: border-box;
        padding: 31px;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: transform 0.3s ease;
        margin-bottom: 65px;
    }
}

.titleP {
    position: relative;
    width: 20%;
    height: 8%;
    border-radius: 15px;
    top: 8%;
    left: 5%;
    background: rgb(51, 50, 50);
}
.titleP h1 {
    position: relative;
    width: max-content;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 20%;
    font-weight: 1000;
}
#projects {
    width: 100vw;
    height: 1000vh;
    background-image: url(/assests/image/background1.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;

}
#projectsMain1 {

    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 300px;
    bottom: 0;
    width: 90vw;
    height: 130vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(243, 240, 240, 0.2);
    background-image: url(/assests/image/background2.png);
    background-size: cover;
    background-position: center;

}
#projectsList1 {
    position: relative;
    width: 80%;
    height: 60%;
    top: 12%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projects{
    position: absolute;
    /*width: calc((100% - 100px) / 3);*/
    width: 30%;
    height: 55%;
    box-sizing: border-box;
    padding: 50px;
    /*margin-bottom: 70px;*/
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.dLink{
    /*display: none;*/
    /*position: relative;*/
    /*top: 200px;*/
    /*left: 30px;*/
    font-size: 22px;
    position: relative;
    top: 110%;
    left: 50px;


}
.projects:hover {
    transform: scale(1.1);
}
#projects1{
    position: absolute;
    bottom: 45%;
    left: -5%;
}
#projects2{
    position: absolute;
    bottom: 45%;
    left: 30%;
}
#projects3{
    position: absolute;
    bottom: 45%;
    left:65%;
}
#projects4{
    position: absolute;
    bottom: -20%;
    left: -5%;
}
@media only screen and (max-width: 1440px) {
    .titleP {
        position: relative;
        width: 15%;
        height: 10%;
        border-radius: 15px;
        top: 8%;
        left: 5%;
        background: rgb(51, 50, 50);
    }
    .titleP h1 {
        position: relative;
        width: max-content;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 20%;
        font-weight: 1000;
    }
    .dLink{
        /*display: none;*/
        /*position: relative;*/
        /*top: 200px;*/
        /*left: 30px;*/
        font-size: 25px;
        position: relative;
        top: 104%;
        left: 50px;
    }
}
@media only screen and (max-width: 1024px) {
    .dLink{
        /*display: none;*/
        /*position: relative;*/
        /*top: 200px;*/
        /*left: 30px;*/
        font-size: 25px;
        position: relative;
        top: 111%;
        left: 5px;
    }
}
@media only screen and (max-width: 768px) {
    .titleP {
        position: relative;
        width: 20%;
        height: 10%;
        border-radius: 15px;
        top: 8%;
        left: 5%;
        background: rgb(51, 50, 50);
    }
    .titleP h1 {
        position: relative;
        width: max-content;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 20%;
        font-weight: 1000;
    }
    .dLink{
        /*display: none;*/
        /*position: relative;*/
        /*top: 200px;*/
        /*left: 30px;*/
        font-size: 25px;
        position: relative;
        top: 111%;
        left: -15px;
    }
}
@media only screen and (max-width: 425px) {
    .titleP {
        position: relative;
        width: 35%;
        height: 10%;
        border-radius: 15px;
        top: 8%;
        left: 5%;
        background: rgb(51, 50, 50);
    }
    .titleP h1 {
        position: relative;
        width: max-content;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 20%;
        font-weight: 1000;
    }
    .dLink{
        /*display: none;*/
        /*position: relative;*/
        /*top: 200px;*/
        /*left: 30px;*/
        font-size: 15px;
        position: relative;
        top: 125%;
        left: -30px;
    }
    #projectsList1 {
        position: relative;
        column-gap:5px;
        row-gap:5px;
        width: 95%;
        height: 60%;
        top: 12%;
        left: 7%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 375px) {
    .dLink{
        /*display: none;*/
        /*position: relative;*/
        /*top: 200px;*/
        /*left: 30px;*/
        font-size: 15px;
        position: relative;
        top: 170%;
        left: -35px;
    }
    .projects{
        position: absolute;
        /*width: calc((100% - 100px) / 3);*/
        width: 30%;
        height: 55%;
        box-sizing: border-box;
        padding: 70px;
        /*margin-bottom: 70px;*/
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: transform 0.3s ease;
    }
    #projects1{
        position: absolute;
        bottom: 45%;
        left: -1%;
    }
    #projects2{
        position: absolute;
        bottom: 45%;
        left: 50%;
    }
    #projects3{
        position: absolute;
        bottom: -20%;
        left:-1%;
    }
    #projects4{
        position: absolute;
        bottom: -20%;
        left: 50%;
    }
}
@media only screen and (max-width: 320px) {
    .titleP {
        position: relative;
        width: 45%;
        height: 10%;
        border-radius: 15px;
        top: 8%;
        left: 5%;
        background: rgb(51, 50, 50);
    }
    .titleP h1 {
        position: relative;
        width: max-content;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 20%;
        font-weight: 1000;
    }
    .dLink{
        /*display: none;*/
        /*position: relative;*/
        /*top: 200px;*/
        /*left: 30px;*/
        font-size: 15px;
        position: relative;
        top: 170%;
        left: -35px;
    }
    .projects{
        position: absolute;
        /*width: calc((100% - 100px) / 3);*/
        width: 5%;
        height: 50%;
        box-sizing: border-box;
        padding: 65px;
        /*margin-bottom: 70px;*/
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: transform 0.3s ease;
    }
    #projects1{
        position: absolute;
        bottom: 45%;
        left: -4%;
    }
    #projects2{
        position: absolute;
        bottom: 45%;
        left: 47%;
    }
    #projects3{
        position: absolute;
        bottom: -20%;
        left:-4%;
    }
    #projects4{
        position: absolute;
        bottom: -20%;
        left: 47%;
    }
}