body {
    overflow-x: hidden;
}

/*Assignment*/

.title {
    position: relative;
    width: 20%;
    height: 8%;
    border-radius: 15px;
    top: 8%;
    left: 5%;
    background: rgb(51, 50, 50);
}

.title h1 {
    position: relative;
    width: max-content;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 20%;
    font-weight: 1000;
}


/*#assignment {*/
/*    width: 1000vw;*/
/*    height: 100vh;*/
/*    background-image: url(/assests/image/background1.png);*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    overflow: hidden;*/

/*}*/
/*#assignmentMain {*/

/*    position: relative;*/
/*    margin: auto;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 5%;*/
/*    bottom: 0;*/
/*    width: 90%;*/
/*    height:90%;*/
/*    border-radius: 20px;*/
/*    overflow: hidden;*/
/*    box-shadow: 0 0 10px rgba(243, 240, 240, 0.2);*/
/*    background-image: url(/assests/image/background2.png);*/
/*    background-size: cover;*/
/*    background-position: center;*/

/*}*/


/*#assignmentsList {*/
/*    position: relative;*/
/*    width: 80%;*/
/*    height: 70%;*/
/*    top: 10%;*/
/*    left: 10%;*/

/*    display: flex;*/
/*    justify-content: space-between;*/

/*}*/

/*.assignments {*/
/*    width: 40%;*/
/*    height: 40%;*/
/*    margin: 5%;*/

/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/

/* gallery section css start  */

@media only screen and (max-width: 768px) {
    .title {
        width: 35%;
        height: 10%;
        top: 5%;
        left: 5%;
    }

    .title h1 {
        font-size: 24px;
        top: 15%;
    }
    /*#assignmentsList{*/
    /*    height: 20px;*/
    /*}*/


    /*titleP{*/
    /*    width: 35%;*/
    /*    height: 10%;*/
    /*    top: 5%;*/
    /*    left: 5%;*/
    /*}*/
    /*.titleP h1 {*/
    /*    font-size: 24px;*/
    /*    top: 15%;*/
    /*}*/

}
#assignment {
    width: 100vw;
    height: 5000vh;
    background-image: url(/assests/image/background1.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;

}


#assignmentMain {

    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    width: 90vw;
    height: 200vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(243, 240, 240, 0.2);
    background-image: url(/assests/image/background2.png);
    background-size: cover;
    background-position: center;

}

#assignmentList {
    position: relative;
    width: 80%;
    height: 60%;
    top: 12%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.assignments{
    width: 250px;
    height: 15%;
    box-sizing: border-box;
    padding: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: transform 0.3s ease;
    margin-bottom: 70px;

}
.assignments:hover {
    transform: scale(1.1);
}
#assignment1 {
    position: absolute;
    /*width: calc((100% - 100px) / 3);*/
    /*margin-bottom: 70px;*/
    bottom: 60%;
    left: 3%;
    /*bottom: 600px;*/
}
#assignment1:hover {
    transform: scale(1.1);
}
#assignment2{
    position: absolute;
    left: 25%;
    bottom: 60%;
}
#assignment3{
    position: absolute;
    left: 47%;
    bottom: 60%;
}
#assignment4{
    position: absolute;
    left: 69%;
    bottom: 60%;
}
#assignment5{
    position: absolute;
    left: 3%;
    bottom: 43%;
}
#assignment6{
    position: absolute;
    left: 25%;
    bottom: 43%;
}
#assignment7{
    position: absolute;
    left: 47%;
    bottom: 43%;
}
#assignment8{
    position: absolute;
    left: 69%;
    bottom: 43%;
}
#assignment9{
    position: absolute;
    left: 3%;
    bottom: 26%;
}
#assignment10{
    position: absolute;
    left: 25%;
    bottom: 26%;
}
#assignment11{
    position: absolute;
    left: 47%;
    bottom: 26%;
}
#assignment12{
    position: absolute;
    left: 69%;
    bottom: 26%;
}
#assignment13{
    position: absolute;
    left: 3%;
    bottom: 9%;
}
#assignment14{
    position: absolute;
    left: 25%;
    bottom: 9%;
}
#assignment15{
    position: absolute;
    left: 47%;
    bottom: 9%;
}
#assignment16{
    position: absolute;
    left: 69%;
    bottom: 9%;
}
#assignment17{
    position: absolute;
    left: 3%;
    bottom: -8%;
}
@media only screen and (max-width: 425px) {

    #assignmentMain {
        width: 90vw;
        height: 227vh;
        top: 10%;
    }


    #assignmentsList {
        row-gap: 5%;
        column-gap: 2%;
        /* gap: 1%; */
        width: 129%;
        height: 44%;
        left: 3%;
        top: 14%;

    }

    #assignmentsList>div {
        width: 18%;
        height: 49%;
        margin: 1px;
    }

    #assignmentsList>div:hover {
        transform: scale(1.2);
    }
}

.titleP {
    position: relative;
    width: 20%;
    height: 8%;
    border-radius: 15px;
    top: 8%;
    left: 5%;
    background: rgb(51, 50, 50);
}
.titleP h1 {
    position: relative;
    width: max-content;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 20%;
    font-weight: 1000;
}
#projects {
    width: 100vw;
    height: 1000vh;
    background-image: url(/assests/image/background1.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;

}
#projectsMain1 {

    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 300px;
    bottom: 0;
    width: 90vw;
    height: 130vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(243, 240, 240, 0.2);
    background-image: url(/assests/image/background2.png);
    background-size: cover;
    background-position: center;

}
#projectsList1 {
    position: relative;
    width: 80%;
    height: 60%;
    top: 12%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projects{
    position: absolute;
    /*width: calc((100% - 100px) / 3);*/
    width: 30%;
    height: 55%;
    box-sizing: border-box;
    padding: 50px;
    /*margin-bottom: 70px;*/
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.dLink{
    /*display: none;*/
    /*position: relative;*/
    /*top: 200px;*/
    /*left: 30px;*/
    font-size: 22px;
    position: relative;
    top: 110%;
    left: 50px;


}
.projects:hover {
    transform: scale(1.1);
}
#projects1{
    position: absolute;
    bottom: 45%;
    left: -5%;
}
#projects2{
    position: absolute;
    bottom: 45%;
    left: 30%;
}
#projects3{
    position: absolute;
    bottom: 45%;
    left:65%;
}
#projects4{
    position: absolute;
    bottom: -20%;
    left: -5%;
}