body {
    overflow-x: hidden;
}

/*Assignment*/

.title {
    position: relative;
    width: 20%;
    height: 8%;
    border-radius: 15px;
    top: 8%;
    left: 5%;
    background: rgb(51, 50, 50);
}

.title h1 {
    position: relative;
    width: max-content;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 20%;
    font-weight: 1000;
}
#assignments{
    width: 40%;
    height: 40%;
}

